<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body bgcolor="cyan">
        <br><br><br><br><br><br>
        <center>
            <p>Hey! So I finally completed the task :)      </p>
            <p>Click <a href = "/articles" >here </a> to see all the articles &  Login</p>
            <p>Click <a href = "/articles/create" >here </a> to create articles</p>
            Click <a href = "/admin" >here</a> to login as Admin
            <p> Click <a href = "/accounts/signup" >here</a> to Sign Up </p>
            
        </center>
    </body>
</html>